<ncx xmlns="http://www.daisy.org/z3986/2005/ncx/" version="2005-1" xml:lang="{{if .Language}}{{.Language}}{{else}}en-US{{end}}">
    <head>
        <meta name="dtb:uid" content="BookID" />
    </head>
    <docTitle>
        <text>{{.Title}}</text>
    </docTitle>
    <navMap>
        <navPoint playOrder="1" id="id1">
            <navLabel>
                <text>First Chapter</text>
            </navLabel>
            <content src="ch1.xhtml" />
        </navPoint>
    </navMap>
</ncx>