body {
    font-family: 'Liberation', serif;
}

.epigraph
{
    font-style: italic;
    page-break-inside:avoid;
    margin: 0.5em 0px;
    margin-bottom: 1em;
    font-size:0.9em;
}

.epigraph .text-author
{
    margin-left: 1em;
    font-size: 0.85em;
    margin: 0.6em 0px;
    margin-left: 2em;
}

body.cover {
    margin: 0px;
    padding: 0px;
}

div.cover {
    text-align:     center;
    page-break-after: always;
}

img.coverimage {
    width: 100%;
    height: 100%;
}

img {
    max-width: 95%;
}

div.image {
    padding: 3px;
    text-align: center;
}

div.title {
    page-break-after: avoid;
    page-break-inside: avoid;
    font-weight: bold;
    margin: 1em 0px 0.5em 0px;
    font-size: 1.4em;
    text-align: center;
}

div.section div.title {
    font-size: 1.2em;
}

div.subtitle {
    font-style: italic;
    page-break-after: avoid;
    page-break-inside: avoid;
    font-weight: bold;
    text-indent: 0px;
    margin: 0.5em 2em;
    text-align: center;
}

a {
    vertical-align: super;
    line-height: 0.1;
    font-size: 0.7em;
}

div.poem {
    margin: 0.5em 15% 0.5em 15%;
    text-align: center;
}

div.stanza {
    page-break-inside: avoid;
    margin: 0.5em 0px;
    justify: left;
}

p.v {
    padding-left: 1em;
    text-indent: -1em;
    margin: 0px;
    justify: left;
}

@font-face {
        font-style: italic;
        font-family: 'Liberation';
        font-weight: normal;
        src: url(fonts/LiberationSerif-Italic.ttf);
}
@font-face {
        font-style: normal;
        font-family: 'Liberation';
        font-weight: normal;
        src: url(fonts/LiberationSerif-Bold.ttf);
}
@font-face {
        font-style: italic;
        font-family: 'Liberation';
        font-weight: bold;
        src: url(fonts/LiberationSerif-BoldItalic.ttf);
}
@font-face {
        font-style: normal;
        font-family: 'Liberation';
        font-weight: bold;
        src: url(fonts/LiberationSerif-Regular.ttf);
}